*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.back-color{
    background-color:#1f201f;
}

.back-color1{
    background-color:#0f0f0f;
    color: aliceblue;
}
.font-carousel{
    font-size: 50px;
}
.centred{
    font-size: 30;
    text-align: center;
}
*{
    margin: 0px;
    padding: 0px;
}
.font-explore{
    font-size: 30px;
}
.divcentre{
    height: 100vh;
    justify-content: center;
    display: flex;
}
.aclass{
    
    margin: 10px;
}
body{
    background-color: rgb(174, 184, 133);
}


/* NAVBAR STYLING */
.navbar{
    display: flex;
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 99999;
    font-family: 'Varela Round', sans-serif;
}

.logo{
    width: 50px;
    height: 45px;
    object-fit: cover;
}

.left{
    flex: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right{
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.center{
    flex: 6;
}

.nav-list{
    display: flex;
    list-style-type: none;
}

.nav-list-item{
    margin-right: 20px;
    font-size: 20px;
}