*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width:100%;
    height: 100%;
    background: url(/FTS_Landing_page/Images/background.jpg);
    background-attachment: fixed;
}

.padding{
    padding: 80px 0px;
    color: #dcdde1;
    background-color: #2a2a72;
    background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);
}

.padding img{
    width: 100%;
}
.sy{
    margin-top: 50px;
}
.text-center{
    text-align: center;
}
.lead{
    font-weight: 100;
    font-size: 30px;
    text-justify: auto;
    font-family: Arial, Helvetica, sans-serif;
}
.lead2{
    
    font-size: 40px;
    
    font-family: Arial, Helvetica, sans-serif;
}


/* NAVBAR STYLING */
#header{
    position: absolute;
    z-index: 10;
    width: 100%;
}

.navbar{
    padding: 50px 0;
}

.navbar-brand{
    font-weight: 600;
    font-size: 1.5em;
}

.navbar-dark{
    font-weight: 600;
    text-transform: uppercase;
    padding-left: 10px;
}

.navbar-dark .navbar-nav .nav-item .nav-link:hover{
    background: #dcdde1;
    color: #262626;
}

.home{
    position: relative;
    background: url(/FTS_Landing_page/Images/Home.jpeg);
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    padding: 220px 0 200px;
}
.home h2{
    margin: 0;
    padding: 0;
    font-size: 2.6em;
    color: #dcdde1;
    text-transform: uppercase;
    font-weight: bold;
}

.home p{
    margin-top: 1em;
    padding: 0;
    font-size: 1em;
    color: #dcdde1;
}

.home .btn{
    background: #718098;
    color: #fff;
    border-radius: 0;
    padding-left: 20px;
    padding-right: 20px;
}
.navStyle{
    font-size: 27px;
    font-family: Arial, Helvetica, sans-serif;
}


@media (max-width:768px){
   .home{
       padding: 200px 0;
   }

   .home h2{
       font-size: 2em;
   }
}

/* CONTACT STYLING */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.contact{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 4rem;
    margin-top: 50px;
}

.contact .image img{
    width: 50%;
    padding: 2rem;
}

.contact form{
    padding: 2rem 3rem;
    border: 1rem solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 0.5rem 1rem rbga(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    background-color: white;
}

.contact form .contact-heading{
    text-align: left;
    padding: 0;
    padding-bottom: 10px;
}

.contact form .inputbox{
    position: relative;
}

.contact form .inputbox input{
    border: none;
}

.contact form .inputbox input:focus{
    padding: 10px;
}

.contact form .inputbox input, .contact form .inputbox textarea{
    width: 100%;
    background: none;
    color: #666;
    margin: 1.5rem 0;
    padding: .2rem 0;
    font-size: 1.5rem;
    border-bottom: .1rem solid rgba(0, 0, 0, 0.1);
    text-transform: none;
}

.contact form .inputbox textarea{
    resize: none;
    height: 5rem;
}

.contact form .inputbox label{
    position: absolute;
    top: 1.7rem;
    left: 0;
    font-size: 1.7rem;
    color: #666;
    transition: .2s linear;
}

.contact form .inputbox input:focus ~ label,
.contact form .inputbox input:valid ~ label,
.contact form .inputbox textarea:focus ~ label,
.contact form .inputbox textarea:valid ~ label
{
    top: -.5rem;
    font-size: 1.5rem;
}

.submit-btn{
    border: none;
    border: 10%;
    padding: 10px 20px;
}
.bgcon{
    background-color: #2a2a72;
    background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);
}
.down{
    margin-top: 60px;
}
.sy1{
    margin-top: 80px;
}

/* team section*/

.container{
    max-width: 950px;
    width: 100%;
    overflow: hidden;
    padding: 80px 0;
    background-size: cover;
    background-position:center ;
   
    
  }
  .container .main-card{
    display: flex;
    justify-content: space-evenly;
    width: 200%;
    transition: 1s;
    
  }
  #two:checked ~ .main-card{
    margin-left: -100%;
  }
  .container .main-card .cards{
    width: calc(100% / 2 - 10px);
    display: flex;
    flex-wrap: wrap;
    margin: 0 20px;
    justify-content: space-between;
  }
  .main-card .cards .card{
    width: calc(100% / 3 - 10px);
    background: #fff;
    border-radius: 12px;
    padding: 30px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
    transition: all 0.4s ease;
  }
  .main-card .cards .card:hover{
    transform: translateY(-15px);
  }
  .cards .card .content{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .cards .card .content .img{
    height: 130px;
    width: 130px;
    border-radius: 50%;
    padding: 3px;
    background: var(--gradient);
    margin-bottom: 14px;
  }
  .card .content .img img{
    height: 100%;
    width: 100%;
    border: 3px solid #ffff;
    border-radius: 50%;
    object-fit: cover;
  }
  .card .content .name{
    font-size: 20px;
    font-weight: 500;
  }
  .card .content .job{
    font-size: 20px;
    color:#f83292;
  }
  .card .content .media-icons{
    margin-top: 10px;
    display: flex;
  
  }
  .media-icons a{
    text-align: center;
    line-height: 33px;
    height: 35px;
    width: 35px;
    margin: 0 4px;
    font-size: 14px;
    color: #FFF;
    border-radius: 50%;
    border: 2px solid transparent;
    background: #e922b7;
    transition: all 0.3s ease;
  }
  .media-icons a:hover{
    color: #814096;
    background-color: #fff;
    border-color: #ed67ff;
  }
   .container .button{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 20px;
  }
  .button label{
    height: 15px;
    width: 15px;
    border-radius: 20px;
    background: #fff;
    margin: 0 4px;
    cursor: pointer;
    transition: all 0.5s ease;
  }
  .button label.active{
    width: 35px;
  }
  #one:checked ~ .button .one{
    width: 35px;
  }
  #one:checked ~ .button .two{
    width: 15px;
  }
  #two:checked ~ .button .one{
    width: 15px;
  }
  #two:checked ~ .button .two{
    width: 35px;
  }
  input[type="radio"]{
    display: none;
  }
  @media (max-width: 768px) {
    .main-card .cards .card{
      margin: 20px 0 10px 0;
      width: calc(100% / 2 - 10px);
    }
  }
  @media (max-width: 600px) {
    .main-card .cards .card{
      /* margin: 20px 0 10px 0; */
      width: 100%;
    }
  }
 /*team section end  */
