*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width:100%;
    height: 100%;
    background: url(/FTS_Landing_page/Images/background.jpg);
    background-attachment: fixed;
}

.padding{
    padding: 80px 0px;
    color: #dcdde1;
    background-color: #2a2a72;
    background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);
}
.padding img{
    width: 100%;
}
.sy{
    margin-top: 50px;
}
.text-center{
    text-align: center;
}
.lead{
    font-weight: 100;
    font-size: 30px;
    text-justify: auto;
    font-family: Arial, Helvetica, sans-serif;
}
.lead2{
    
    font-size: 40px;
    
    font-family: Arial, Helvetica, sans-serif;
}


/* NAVBAR STYLING */
#header{
    position: absolute;
    z-index: 10;
    width: 100%;
}

.navbar{
    padding: 50px 0;
}

.navbar-brand{
    font-weight: 600;
    font-size: 1.5em;
}

.navbar-dark{
    font-weight: 600;
    text-transform: uppercase;
    padding-left: 10px;
}

.navbar-dark .navbar-nav .nav-item .nav-link:hover{
    background: #dcdde1;
    color: #262626;
}

.home{
    position: relative;
    background: url(/FTS_Landing_page/Images/Home.jpeg);
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    padding: 220px 0 200px;
}
.home h2{
    margin: 0;
    padding: 0;
    font-size: 2.6em;
    color: #dcdde1;
    text-transform: uppercase;
    font-weight: bold;
}

.home p{
    margin-top: 1em;
    padding: 0;
    font-size: 1em;
    color: #dcdde1;
}

.home .btn{
    background: #718098;
    color: #fff;
    border-radius: 0;
    padding-left: 20px;
    padding-right: 20px;
}
.navStyle{
    font-size: 27px;
    font-family: Arial, Helvetica, sans-serif;
}


@media (max-width:768px){
   .home{
       padding: 200px 0;
   }

   .home h2{
       font-size: 2em;
   }
}