*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width:100%;
    height: 100%;
    background: url(/FTS_Landing_page/Images/background.jpg);
    background-attachment: fixed;
}

.padding{
    padding: 80px 0px;
    color: #dcdde1;
    background-color: #2a2a72;
    background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);
}

.padding img{
    width: 100%;
}
.sy{
    margin-top: 50px;
}
.text-center{
    text-align: center;
}
.lead{
    font-weight: 100;
    font-size: 30px;
    text-justify: auto;
    font-family: Arial, Helvetica, sans-serif;
}
.lead2{
    
    font-size: 40px;
    
    font-family: Arial, Helvetica, sans-serif;
}


/* NAVBAR STYLING */
#header{
    position: absolute;
    z-index: 10;
    width: 100%;
}

.navbar{
    padding: 50px 0;
}

.navbar-brand{
    font-weight: 600;
    font-size: 1.5em;
}

.navbar-dark{
    font-weight: 600;
    text-transform: uppercase;
    padding-left: 10px;
}

.navbar-dark .navbar-nav .nav-item .nav-link:hover{
    background: #dcdde1;
    color: #262626;
}

.home{
    position: relative;
    background: url(/FTS_Landing_page/Images/Home.jpeg);
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    padding: 220px 0 200px;
}
.home h2{
    margin: 0;
    padding: 0;
    font-size: 2.6em;
    color: #dcdde1;
    text-transform: uppercase;
    font-weight: bold;
}

.home p{
    margin-top: 1em;
    padding: 0;
    font-size: 1em;
    color: #dcdde1;
}

.home .btn{
    background: #718098;
    color: #fff;
    border-radius: 0;
    padding-left: 20px;
    padding-right: 20px;
}
.navStyle{
    font-size: 27px;
    font-family: Arial, Helvetica, sans-serif;
}


@media (max-width:768px){
   .home{
       padding: 200px 0;
   }

   .home h2{
       font-size: 2em;
   }
}

/* CONTACT STYLING */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.contact{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 4rem;
    margin-top: 50px;
}

.contact .image img{
    width: 50%;
    padding: 2rem;
}

.contact form{
    padding: 2rem 3rem;
    border: 1rem solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 0.5rem 1rem rbga(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    background-color: white;
}

.contact form .contact-heading{
    text-align: left;
    padding: 0;
    padding-bottom: 10px;
}

.contact form .inputbox{
    position: relative;
}

.contact form .inputbox input{
    border: none;
}

.contact form .inputbox input:focus{
    padding: 10px;
}

.contact form .inputbox input, .contact form .inputbox textarea{
    width: 100%;
    background: none;
    color: #666;
    margin: 1.5rem 0;
    padding: .2rem 0;
    font-size: 1.5rem;
    border-bottom: .1rem solid rgba(0, 0, 0, 0.1);
    text-transform: none;
}

.contact form .inputbox textarea{
    resize: none;
    height: 5rem;
}

.contact form .inputbox label{
    position: absolute;
    top: 1.7rem;
    left: 0;
    font-size: 1.7rem;
    color: #666;
    transition: .2s linear;
}

.contact form .inputbox input:focus ~ label,
.contact form .inputbox input:valid ~ label,
.contact form .inputbox textarea:focus ~ label,
.contact form .inputbox textarea:valid ~ label
{
    top: -.5rem;
    font-size: 1.5rem;
}

.submit-btn{
    border: none;
    border: 10%;
    padding: 10px 20px;
}
.bgcon{
    background-color: #2a2a72;
    background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);
}
.down{
    margin-top: 60px;
}
.sy1{
    margin-top: 80px;
}